﻿@model IEnumerable<Bank.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Transfer</h2>

@using (Html.BeginForm())
{
    <p>
        Name: @Html.TextBox("SearchString") <br />
        <br />
        <input type="submit" value="Filter" />
    </p>
}
 
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Client.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.ActionLink("Transfer Target", "Transfer", new { targetid = item.ID }) 
                    </td>
                </tr>
            }

        </table>

