﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Only for reliable customers</h3>

<address>Some secret area downtown.</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bankofevil.com">Support@bankofevil.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bankofevil.com">Marketing@bankofevil.com</a>
</address>