﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">This is the new non-secret site of the bank of evil, hope you enjoy it.</p>
    <p><a href="https://www.youtube.com/watch?v=SY94qvnJDdQ" class="btn btn-primary btn-lg">Learn more &raquo; </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn about our traditions</h2>
        <p>
            Lehman Brothers Holdings Inc.was a global financial services firm. It was the fourth-largest investment bank in the US (behind Goldman Sachs, Morgan Stanley, and Merrill Lynch), doing business in investment banking, equity and fixed-income sales and trading (especially U.S. Treasury securities), research, investment management, private equity, and private banking.
        </p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Lehman_Brothers">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our current management </h2>
        <p>The bank is currently managed by one of the best people in the domain of Evil Banking, Mr. Perkins.</p>
        <p><a class="btn btn-default" href="http://despicableme.wikia.com/wiki/Mr._Perkins">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Marketing</h2>
        <p>Our image was used in several moving pictures due to our fenomenal succes an exceptional reputation.</p>
        <p><a class="btn btn-default" href="http://www.imdb.com/title/tt1323594/">Learn more &raquo;</a></p>
    </div>
</div>